@import "@/styles/mixins.scss";

.mobile-burger {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  opacity: 0;
  z-index: 8;
  transition: opacity 0.3s;
  display: none;

  @include tablet {
    display: block;
  }

  &.active {
    pointer-events: all;
    opacity: 1;
  }

  &.active &__panel {
    transform: translate(0%, 0);
  }

  &__panel {
    background: #ffffff;
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: var(--header-height);
    left: 0;
    bottom: 0;
    overflow: hidden;
    overflow-y: auto;
    transition: transform 0.3s;
    transform: translate(100%, 0);
    padding-top: 20px;
  }

  &__item {
    position: relative;

    &.active {
      .mobile-burger__child-content {
        grid-template-rows: 1fr;
      }

      .mobile-burger__icon {
        svg {
          transform: rotate(0);
        }
      }
    }
  }

  &__child-content {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows 0.3s ease;
  }

  &__link {
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    color: var(--link-color);
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid rgba(207, 208, 216, 0.4);

    @include tablet {
      padding: 15px 40px 15px 20px;
    }

    @include mobile {
      padding: 15px 40px 15px 16px;
    }
  }

  &__icon {
    position: absolute;
    top: 0;
    right: 0;
    height: 51px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;

    @include tablet {
      width: 60px;
      padding-right: 20px;
    }

    @include mobile {
      width: 56px;
      padding-right: 16px;
    }

    svg {
      transform-origin: 50% 50%;
      transform: rotate(-90deg);
      transition: transform 0.3s ease;
    }
  }

  &__children {
    overflow: hidden;
  }

  &__children-link {
    font-weight: 500;
    font-size: 17px;
    line-height: 1;
    color: #67697e;
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid rgba(207, 208, 216, 0.4);

    @include tablet {
      padding: 15px 40px 15px 32px;
    }

    @include mobile {
      padding: 15px 40px 15px 28pxpx;
    }
  }

  &__btn-wrap {
    display: flex;
    gap: 20px;

    @include tablet {
      padding: 0 20px 20px 20px;
    }

    @include mobile {
      padding: 0 16px 20px 16px;
    }
  }
}

.close-btn-panel {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  height: 40px;
  min-height: 40px;
  box-shadow: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0;
  background: transparent;
  box-shadow: none;
  padding: 0;
  border: none;
  outline: none;
}
