@import "@/styles/mixins.scss";

.digital {
  padding: 40px 0;

  &__title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    color: var(--black);
    margin-bottom: 40px;
  }

  &__bottom {
    margin: 40px 0 20px 0;
    font-size: 15px;
    font-weight: 400;
    color: var(--slate-grey);
    text-align: center;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, calc(33.3% - 13.4px));
    justify-content: space-between;
    gap: 20px;

    @include mobile {
      grid-template-columns: repeat(1, 100%);
    }
  }
}
