:root {
  --darker-grey: #333;
  --blue: #2196f3;
  --pockit-orange: #f5a623;
  --green: #4caf50;
  --pockit-yellow: #fde92c;
  --teal: #00bfa5;
  --black: black;
  --dark-grey: #666;
  --light-grey: #f1f1f1;
  --card-shadow: rgba(74, 74, 74, 0.15);
  --white: white;
  --slate-grey: #465b66;
  --grey: #dbdbdb;
  --ghost-white: rgba(244, 245, 249, 0.5);
  --yellow: #f8e71c;
  --gold: #ffc107;
  --crimson: #d32f2f;
  --pink: #d81b60;
  --purple: #673ab7;
  --indigo: #3f51b5;
  --cyan: #00bcd4;
  --lime: #cddc39;
  --orange: #f45a1e;
  --brown: #795548;
  --dark-blue: #1565c0;
  --grey-mid: #a8a8a8;
  --teal-2: #4bffbf;
  --aquamarine: #76ffe0;
  --background: #f2f2f2;
  --white-2: #fafafa;
  --cyan-2: #76fded;
  --pale-turquoise: #c6fff2;
  --pink-2: #de1692;
  --pale-turquoise-2: #72e3f3;
  --link-color: #222;
  --footer-bg: rgb(39, 39, 39);
}
