@import "@/styles/mixins.scss";

.customers {
  padding: 40px 0;

  &__img {
    width: 320px;
    height: 265px;
    display: block;
    margin: 0 auto;

    @include mobile {
      margin: 0 auto;
      width: 120px;
      height: 100px;
    }
  }

  &__title {
    margin-bottom: 40px;
    color: var(--black);
    text-align: center;
    font-weight: 700;
    font-size: 36px;

    @include mobile {
      margin-left: auto;
      margin-right: auto;
      font-size: 26px;
      max-width: 340px;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    row-gap: 10px;

    @include tablet-small {
      flex-direction: column;
      align-items: center;
    }
  }

  &__item {
    font-size: 18px;
    color: var(--black);
  }

  &__item-img {
    width: 83px;
    height: 32px;
  }

  &__logos {
    margin-top: 40px;

    @include tablet-small {
      flex-direction: row;
    }

    @include mobile-small {
      column-gap: 0;

      .customers__item {
        width: 50%;
        text-align: center;
      }

      flex-wrap: wrap;
      flex-direction: row;
    }
  }

  &__apply {
    text-align: center;
    margin-top: 20px;
  }

  &__download-links {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  &__download-link {
    width: 94px;
    height: 28px;
  }

  &__bottom {
    margin: 10px 0 20px 0;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    color: var(--black);
    font-style: italic;
  }
}
