.client-card {
  user-select: none;
  padding: 20px;
  border-radius: 18px;
  box-shadow: 0 18px 32px rgba(0, 0, 0, 0.1);
  background-color: var(--white);

  &__img {
    width: 34px;
    height: 34px;
    display: block;
    margin-bottom: 20px;
  }

  &__rate {
    width: 122px;
    height: 22px;
    display: block;
    margin-bottom: 10px;
  }

  &__message {
    color: var(--black);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  &__name {
    color: var(--slate-grey);
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 5px;
  }

  &__date {
    color: var(--slate-grey);
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 5px;
  }
}
